<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotify RSS</title>
    <script src="{{.HtmxBasePath}}"></script>
    <style>
        .bg-backdrop {
            background-color: #303030;
        }

        .bg-card {
            background-color: #424242;
        }

        .width-limit {
            max-width: -webkit-calc(800px - (30px * 2));
            max-width: calc(800px - (30px * 2));
            margin-right: auto;
            margin-left: auto;
            padding-right: 30px;
            padding-left: 30px;
        }
    </style>
    <link rel="stylesheet" href="{{.Bootstrap}}">
    <script src="{{.MainJSPath}}"></script>
</head>

<body class="bg-backdrop">
    <div id="header" class="bg-primary p-3">
        <a href="/" class="link-light">
            <h2>Gotify</h2>
        </a>
    </div>
    <div class="text-white d-flex align-items-center flex-column width-limit">
        {{range .Cards}}
        <div class="bg-card p-3 rounded shadow m-3 w-100">
            {{if .Title}}
            <h2>{{.Title}}</h2>
            {{.Body}}
            {{else if .Body}}
            {{.Body}}
            {{else}}
            No Body or Title Provided for card
            {{end}}
        </div>
        {{end}}
    </div>
</body>

</html>